html {
    background-color: black;
    color: white;
}

#mainUI {
    display: flex;
}

#myAmounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
}

#myResources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    padding-top: 8px;
}

.myItems {
    margin-top: 8px;
}
#submitBtn {
    margin-top: 16px;
    width: 83%;
    background-color: yellow;
}
